---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import HeadingText from '../components/HeadingText.astro';
import Stats from '../components/Stats.astro';
import FeaturedProperties from '../components/FeaturedProperties.astro';
import Textbox from '../components/Textbox.astro';
---

<Layout
  title="Home | Lefferts"
  description="At Lefferts, we understand that developing requires more than concrete and steel. It demands a deep and profound understanding of community at its core."
  isHome={true}
>
  <Hero
    text="A Legacy Of Crafting Visionary Landmarks"
    videoSrc="/videos/home.mp4"
    i18nKey="hero.home"
  />
  <HeadingText text="Uniting Innovation And Excellence In Every Development." i18nKey="heading.home" />
  <Stats />
  <FeaturedProperties
    property1={{
      image: '/images/astoria-home.jpg',
      title: 'Astoria North',
      link: '/portfolio/astoria-north',
    }}
    property2={{
      image: '/images/portfolio/72-carlyle-featured1.webp',
      title: '72 Carlyle',
      link: 'https://72carlyle.com/',
      target: '_blank',
    }}
  />
  <Textbox
    heading="A LEGACY OF CRAFTING VISIONARY LANDMARKS."
    content="<p>Founded in New York City and offering more than twenty years of experience in the real estate industry, Lefferts stands as an unrivaled force in the realm of privately owned development firms. Driven by an unwavering commitment to excellence and sustainability, Lefferts creates extraordinary residential and commercial properties that redraw the boundaries of innovation, quality, and inclusive living. Its portfolio includes luxury condominium buildings, dynamic mixed-use developments, and high-end retail spaces in New York and South Florida.</p><p>For over two decades, Lefferts has been at the forefront of the industry, co-developing 3 million square feet of mixed-use space and investing more than $1.5 billion in diverse real estate projects. In New York City, visionary collaborations with renowned architects, including Renzo Piano for 565 Broome Street in SoHo, and transformative projects, like Astoria North in Queens, have reshaped urban landscapes and redefined skylines. In South Florida, investments in the development of several luxury condominium buildings have catalyzed the revitalization of Miami Beach's 71st Street Corridor and NoBe District.</p>"
    i18nHeadingKey="textbox.legacy_heading"
    i18nContentKey="textbox.legacy_content"
  />
  <Textbox
    heading="TRANSFORMATIVE SPACES FOR VIBRANT PLACES."
    content="<p>At Lefferts, real estate is about more than bricks and mortar; it is about curating remarkable environments that inspire, energize, and foster a sense of belonging. The firm's unwavering dedication to impeccable design, flawless execution, and unparalleled quality ensures that every Lefferts development transcends expectations.</p>"
    i18nHeadingKey="textbox.spaces_heading"
    i18nContentKey="textbox.spaces_content"
  />
  <Textbox
    heading="OUR CULTURE."
    content="<p>Lefferts champions the idea that sustainable, design-driven developments can unify people and foster more powerful communities. We cultivate lasting bonds and mutual respect in the places where we build through philanthropy and engagement with local leaders and organizations. Our commitment to establishing and nurturing long-term relationships is a core value and is the foundation of our ability to deliver projects that benefit people and the places they call home.</p>"
    i18nHeadingKey="textbox.culture_heading"
    i18nContentKey="textbox.culture_content"
  />
  <Textbox
    heading="THE PEOPLE POWERING LEFFERTS."
    content="<h4>Lefferts Today</h4><p>In 2019, building on decades of experience in New York City, founder Mendy Chudaitov expanded Lefferts' reach to South Florida, where it has made substantial investments in the revitalization of Miami Beach's 71st Street Corridor and NoBe District.</p><p>The projects include 72 Park, a 22-story condominium completed spring 2025, which will be the first new luxury tower on Miami Beach to permit short-term rentals; 72 Carlyle, a 19-story luxury condominium slated to break ground in 2027; PALMA Miami Beach Residences, a 14-story residential and mixed-use tower; and 880 71 st Street, a 20-story multifamily tower with ground-floor retail.</p><h4>Vertically Integrated</h4><ul><li>Research & Development</li><li>Marketing & Public Relations</li><li>Acquisitions</li><li>Commercial Assets</li><li>Design</li><li>Construction</li><li>Asset Management</li><li>Human Resources</li><li>Information Technology</li><li>Accounting & Finance</li></ul>"
    i18nHeadingKey="textbox.people_heading"
    i18nContentKey="textbox.people_content"
  />
</Layout>
